/* app.css  */

/* HTML Element Styles */
A, A:link, A:visited, A:hover { 
	color: #369;
	text-decoration: none; 
}


/* 
 * Framework ViewPort header Styles
 */
#header h1 {
                font-family: verdana, arial, helvetica;
                font-size: 1.1em;
                color: #fff;
                font-weight: normal;
                padding: 5px 10px;
}

/* Intro Text */
div#intro {
	position: relative; 
	width: 'auto',
	height: 100px;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -50px;
	font-size: 24pt;
	color: #369;
}
div.centered {
	position: relative;
	width: 'auto',
	height: 100px;
	left: 50%;
	margin-left: -200px;
	top: 20%;
	margin-top: -50px;
}
.centered {
	position: relative;
	width: 'auto',
	height: 600px;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -50px;
	font-size: 20pt;
	color: #369;
}
