<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="detectiveApp">
<head>
    <title>70s Detective</title>
    <!-- Stylesheets to handle CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Javascript for the applications -->
    <script src="app/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
    <script src="app/suspect.js"></script>
    <script src="app/detective.js"></script>
    <script src="app/scenerio.js"></script>
    <script src="app/edetect.js"></script>
    <script src="app/controllers.js"></script>
</head>
<body>
<div class="container"> 
    <div class="row clearfix"><!-- Possibly convert to fixed navbar from navtab -->
        <div class="col-md-12 column">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#">Register</a> </li>
                <li> <a href="#">Facts</a> </li>
                <li class="disabled"> <a href="#">Interogate</a> </li>
                <li class="dropdown pull-right">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle">Other<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li> <a href="#">How to Play</a> </li>
                        <li> <a href="#">Credits</a> </li>
                        <li> <a href="#">Something else here</a> </li>
                    </ul>
                </li>
            </ul>
        </div> <!-- col-md-12 -->
    </div> <!-- row -->
    <div class="row clearfix">
        <div class="col-md-2 column"><!-- 6 FORMS -->
            <form role="form">
                    <p class="help-block">
                        Location: Art Show
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div> 
        <div class="col-md-2 column">
            <form role="form">
                    <p class="help-block">
                        Location: Ball Game
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-md-2 column">
            <form role="form">
                    <p class="help-block">
                        Location: Card Party
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-md-2 column">
            <form role="form">
                    <p class="help-block">
                        Location: Docks
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-md-2 column">
            <form role="form">
                    <p class="help-block">
                        Location: Embassy
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-md-2 column">
            <form role="form">
                    <p class="help-block">
                        Location: Factory
                    </p><label class="label label-primary">Side of Town</label>
                    <!-- To get justification to work for a group you have to wrap each button in another group -->
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">East</button>
                            </div>
                            <div class="btn-group btn-group-xs ">
                                <button class="btn btn-default" type="button">West</button>
                            </div>
                    </div><label class="label label-primary">Town</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Up</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Mid</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">Down</button>
                            </div>
                    </div><label class="label label-primary">Weapon Found</label>
                    <div class="btn-group btn-group-justified">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.38</button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-default" type="button">.45</button>
                            </div>
                    </div><br/>
                    <div>
                        <label class="label label-primary">Males</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                        <label class="label label-primary">Females</label>
                        <div align="right">
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                                <input class="input input-sm" type="text" maxlength="2" size="1" />
                        </div>
                    </div>
            </form>
        </div>
    </div> <!-- row -->
    <div class="row clearfix">
        <div class="col-md-10 column">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="30"> # </th>
                        <th width="200"> Question </th>
                        <th> Response </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a href="#">1</a> </td> 
                        <td> Question 1 looks like this.  </td> 
                        <td> Yes </td>
                    </tr>
                    <tr>
                        <td> <a href="#">2</a> </td>
                        <td> Question 2 looks like this.  </td>
                        <td> Eastside.  </td>
                    </tr>
                    <tr>
                        <td> <a href="#">3</a> </td>
                        <td> Question 3 looks like this.  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> <a href="#">4</a> </td>
                        <td> Question 4 looks like this.  </td>
                        <td>  </td>
                    </tr>
                    <tr>
                        <td> <a href="#">5</a> </td>
                        <td> Question 5 looks like this.  </td>
                        <td>  </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- col-md-10 -->
        <div class="col-md-2 column">
		<div class="row clearfix">
			<div class="col-md-12 column">
                            <h3 class="text-center">Joe Victim</h3>
				<img height="150" width="150" class="img-rounded" src="images/male_silhouette.png" />
			</div>
		</div> <!-- inner row -->
        </div><!-- col-md-2 -->
    </div><!-- row -->
    <div class="row clearfix">
        <div class="col-md-6 column">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="25"> # </th>
                        <th width="180"> Name </th>
                        <th width="900"> Statement </th>
                    </tr>
                </thead>
                <tbody ng-controller="maleSuspectCtrl" >
                    <tr ng-repeat="male in males">
                        <td> <a href="#">{{male.id}}</a> </td>
                        <td>{{male.name}}</td>
                        <td> Don't blame me. </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- col-md-6 -->
        <div class="col-md-6 column" >
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="25"> # </th>
                        <th width="180"> Name </th>
                        <th width="900"> Statement </th>
                    </tr>
                </thead>
                    <tbody ng-controller="femaleSuspectCtrl" >
                    <tr ng-repeat="female in females">
                        <td> <a href="#">{{female.id}}</a> </td>
                        <td>{{female.name}}</td>
                        <td> It was someone else. </td>
                    </tr>
                </tbody>
            </table>
        </div><!-- col-md-6 -->
    </div><!-- row  -->
</div> <!-- container -->
</body>
</html>
